<div class="page page-center">
  <div class="container container-tight py-4">
    <div class="text-center mb-4">
      <a href="." class="navbar-brand navbar-brand-autodark"><img src="./static/logo.svg" height="36" alt=""></a>
    </div>
    <%= form_with model: @user, class: "card card-md", url: register_form_path do |form| %>
      <%= render partial: "shared/errors", locals: { object: form.object } %>
      <%= invisible_captcha %>
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Create new account</h2>
        <div class="mb-3">
          <%= form.label :username , class: "form-label" %>
          <%= form.text_field :username, class: "form-control", placeholder: "username" %>
        </div>
        <div class="mb-3">
          <%= form.label :email, class: "form-label" %>
          <%= form.email_field :email, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= form.label :password, class: "form-label" %>
          <%= form.password_field :password, class: "form-control"%>
        </div>
        <div class="mb-3">
          <span>I Agree the <a href="./terms-of-service.html" tabindex="-1">terms and policy</a>.</span>
        </div>
        <div class="form-footer">
          <%= form.submit "Register", class: "btn btn-primary w-100"%>
        </div>
      </div>
    <% end %>
    <div class="text-center text-muted mt-3">
      Already have account? <a href="/auth/login" tabindex="-1">Sign in</a>
    </div>
  </div>
</div>
