<div class="col-lg-8 mx-auto">
  <div class="row row-cards">
    <div class="col-12">
      <%= form_with model: @post, class: "card" do |form| %>
        <div class="card-header">
          <h3>New Post</h3>
        </div>
        <div class="card-body">
          <div class="row row-cards">
            <div class="col-md-12">
              <div class="mb-3">
                <%= form.label :title, "Title", class: "form-label" %>
                <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
              </div>
            </div>
            <div class="col-md-5">
              <div class="mb-3">
                <%= form.label :category , "Category", class: "form-label" %>
                <%= form.select :category, @categories.map { |t| [t.name, t.id]}, {}, class: "form-control form-select" %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <%= form.label :content, "Body", class: "form-label" %>
                <%= form.rich_text_area  :content, class: "form-control", placeholder:"Writing ..." %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <%= form.label :thumbnail, "Thumbnail", class: "form-label" %>
                <%= form.file_field :thumbnail, class: "form-control" %>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-center">
          <%= form.submit "Submit", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
